%section.container-fluid
	-if 3 < current_user.level
		.row-fluid
			.span12
				%legend= t :filter, :scope => [:purchase, :view, :index]
				%ul
					-orders.each do |order|
						%li=link_to order.company.name, "?company_id=#{order.company_id}"
		.row-fluid
			.span12
				=link_to new_plant_purchase_path(plant), :class => "btn" do
					=content_tag :i, "", :class => "icon-star"
					=t :new, :scope => [:purchase, :view, :index]
		.row-fluid
			.span12
				%legend= t :orders, :scope => [:purchase, :view, :index]
				%ul
					-orders.each do |purchase|
						%li= link_to "#{purchase.company.name} -- #{purchase.created_at} -- $#{purchase.net_income}", order_path(purchase)

