%section.container-fluid
	.row-fluid
		=link_to plant_path order.plant do
			%h1= order.plant.name
		%dl
			%dt= t(:income, :scope => [:order, :view, :show])
			%dd= "$#{order.net_income}" 
			%dt= t :weight, :scope => [:order, :view, :show]
			%dd= order.total_weight
		
	-order.materials.each do |material|
		.row-fluid
			=render 'doodads/body/tile', :tile => mtilify(material)
		