%section.container-fluid
	.row-fluid
		=link_to plant_path order.plant do
			%h1= order.plant.name
		=link_to edit_order_path(order), :class => "btn" do
			=content_tag :i, "", :class => "icon-edit"
			=t :edit, :scope => [:order, :view, :show]
		%dl
			%dt= t(:income, :scope => [:order, :view, :show])
			%dd= "$#{order.tsundere_for(current_user.level).net_income}" 
			%dt= t :weight, :scope => [:order, :view, :show]
			%dd= order.total_weight
		
	-order.materials.each do |material|
		.row-fluid
			=render 'doodads/body/tile', :tile => mtilify(material.tsundere_for(current_user.level))
		