%section.container-fluid
	-if 3 < current_user.level
		.row-fluid
			.span12
				%legend= t :filter, :scope => [:sale, :view, :index]
				%ul
					-orders.inject({}) do |mem, order|
						- unless mem.has_key? order.company.name
							%li=link_to order.company.name, "?company_id=#{order.company_id}"
						- mem[order.company.name] = order.company_id
						- mem
		.row-fluid
			.span12
				=link_to new_plant_sale_path(plant), :class => "btn" do
					=content_tag :i, "", :class => "icon-star"
					=t :new, :scope => [:sale, :view, :index]
		.row-fluid
			.span12
				%legend= t :orders, :scope => [:sale, :view, :index]
				%ul
					-orders.each do |sale|
						%li= link_to "#{sale.company.name} -- #{sale.created_at} -- $#{sale.net_income}", order_path(sale)

